h1,
h2 {
text-align: center;
}

h2 {
    margin-bottom: 5px;
}

.heading {
    font-size: 2rem;
}

body {
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3qNwtQ82PxP2X_mff16TYjzD_uYgBrdYmLQ&s);
    font-family: 'Playwrite AU QLD', sans-serif ;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    border: solid black;
    border-radius: 25px;
}
.everything {
    background-color: rgb(97, 156, 250);
    border: solid, black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

label, textarea {
    display: block;
    margin: 10px auto;
    width: 80%;
}

.border {
    border: solid black;
    border-radius: 1rem;
}

.rating {
    font-size: 20px;
}