h1,
h2 {
text-align: center;
}

body {
    padding: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3qNwtQ82PxP2X_mff16TYjzD_uYgBrdYmLQ&s);
}

img {
    display: block;
    margin: 0 auto;
    border: solid, black;
}
.everything {
    background-color: rgb(97, 156, 250);
    border: solid, black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}